{% load staticfiles %}
{% block css %}
{% load bootstrap4 %}
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
{% endblock css %}
<!DOCTYPE html>
<html>
	<head>
		 <meta charset="utf-8">
   		 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
		{% if title %}
			<title>Django WEB CAD - {{title}} </title>
		{% else %}
			<title>Djago WEB CAD </title>
		{% endif %}
	</head>
	<body>
		{% include 'Sprint1/includes/navbar.html' %}
		<br>
		<br>
	<main role="main" class="container">
      
		<div class="container my-4 d-flex flex-column">
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{message.tags}}">{{message}}</div>
				{% endfor %}
			{% endif %}
			{% block content %}
			{% endblock %}
		</div>
		
	</main>
		
	</body>
{% include 'Sprint1/includes/footer.html' %}
</html>
 