{% extends "Sprint1/base.html" %}
{% load staticfiles%}
{% load crispy_forms_tags %}
{% block content %}
<form method='POST' enctype='multipart/form-data'>
	{% csrf_token %}
	<div class="form-group">
							{{p_form.first_name|as_crispy_field}}
							{{p_form.last_name|as_crispy_field}}
							{{p_form.age|as_crispy_field}}
							{{p_form.gender|as_crispy_field}}
							{{p_form.Address|as_crispy_field}}
							{{p_form.email|as_crispy_field}}
							{{irm_form.irm_pic|as_crispy_field}}
							{{irm_form.irm_date|as_crispy_field}}

		<a href="{% url 'sprint2:patient_list' %}" type ="button"class="btn btn-outline-primary" >Cancel</a>					
 	<button class="btn btn-outline-info" name="submit" type="submit" value="register">Add</button>

</form>
{% endblock content %}

